{{ define "title"}}Login{{ end }}

{{define "content"}}

    <div class="form-style-8">

        <div class="card">
            <div class="card-content">

                <h2>Login </h2>
                <form method="post" action="/login/post">

                    {{ .csrfField }}
                    <input type="hidden" name="login_challenge" value="{{ .loginChallenge }}">


                    <p class="help is-danger">{{ .error }}</p>

                    <div class="field">
                        <label class="label"></label>
                        <div class="control">
                            <input type="text" name="contact" placeholder="email or phonenumber"/>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label"></label>
                        <div class="control">
                            <input type="password" name="password" placeholder="password"/>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input id="rememberme" name="rememberme" value="remember" type="checkbox"/>
                                        Remember me
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered">

                        <p class="control">
                            <a class="is-outlined" href="/forgot">
                                Forgot password
                            </a>
                        </p>

                        <p class="control">
                            <button class="button is-link" type="submit"> Login</button>
                        </p>


                    </div>


                </form>

            </div>
        </div>

        <div class="card">
            <div class="card-content">
                Not registered already? <a href="/register?login_challenge={{ .loginChallenge }}">signup</a>

            </div>
        </div>
    </div>

{{end}}

