
{{ define "title"}}<title>Login</title>{{ end }}

{{define "content"}}

    <div class="form-style-8">
        <h2>Login </h2>
        <form method="post" action="/login/post">

            {{ .csrfField }}
            <input type="hidden" name="login_challenge" value="{{ .loginChallenge }}">

            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input type="text" name="contact" placeholder="email or phonenumber"/>
                </div>
            </div>

            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input type="password" name="password" placeholder="password"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Remember me</label>
                <div class="control">
                    <input id="rememberme" name="rememberme" value="remember" type="checkbox"/>
                </div>
            </div>

            <button class="button" type="submit"> Login </button>

        </form>
    </div>

{{end}}

