{{ define "title"}}Login{{ end }}

{{define "content"}}


<h1>Login </h1>
<form method="post" action="/s/login/post">

    {{ .csrfField }}
    <input type="hidden" name="login_challenge" value="{{ .loginChallenge }}">

    {{if .error}}
    <div class="message error">{{ .error }}</div>
    {{end}}

    <label>
        <input type="text" name="contact" placeholder="email or phonenumber" class="field"/>
    </label>

    <label>
        <input type="password" name="password" placeholder="password" class="field"/>
    </label>

    <br/>
    <input class="btn" type="submit" value="Login"/>


</form>


<div class="pass-link">
    <a class="is-outlined" href="/s/forgot">
        Forgot password
    </a>
</div>

<br/>
<hr/>
<br/>
<div class="pass-link">
    Not registered already? <a href="/s/register?login_challenge={{ .loginChallenge }}">signup</a>
</div>

{{end}}

