{{ define "title"}} Signup {{ end }}

{{define "content"}}


<h1>Registration </h1>

<br/>

<form method="post" action="/s/register/post">
    {{ .csrfField }}
    <input type="hidden" name="login_challenge" value="{{ .loginChallenge }}">

    <label>
        <input class="field" type="text" name="contact" placeholder="Email or Phonenumber"/>
    </label>

    <label>
        <input class="field" type="text" name="name" placeholder="Name"/>
    </label>

    <label>
        <input class="field" type="password" name="password" placeholder="password"/>
    </label>

    <br/>

    <input class="btn" type="submit" value="Register"/>
</form>

{{end}}