
{{ define "title"}}Set Password{{ end }}

{{define "content"}}


    <div>
        <h2>Reset Password </h2>

        <br/>

        <form method="post">
            {{ .csrfField }}

            <div class="field">
                <label class="label">reset code</label>
                <div class="control">
                    <input class="input" type="text" name="reset_code"/>
                </div>
            </div>

            <div class="field">
                <label class="label">new password</label>
                <div class="control">
                    <input class="input" type="password" name="password"/>
                </div>
            </div>

            <button class="button" type="submit"> Reset </button>

        </form>
    </div>

{{end}}